/* line 1, ../sass/salesvideos.scss */
header {
  display: none;
}

/* line 4, ../sass/salesvideos.scss */
body {
  background: #F7F5F3;
}

/* line 8, ../sass/salesvideos.scss */
h1, h2, h3, h4, h5 {
  font-family: "Bitter", Georgia, serif;
  font-weight: bold;
}

/* line 12, ../sass/salesvideos.scss */
*, p, a {
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  font-size: 22px;
}

/* line 18, ../sass/salesvideos.scss */
h1 u, h1 em {
  font-size: 36px;
  color: #3d454b;
}

/* line 25, ../sass/salesvideos.scss */
.salesvideos-top-cta {
  background: rgba(44, 100, 153, 0.92) url("/static/salesvideos/background1.jpg") no-repeat center;
  background: #355e96 url("/static/img/blue-pattern-background-1920-min.png") no-repeat center;
  background: rgba(44, 100, 153, 0.92);
  background-size: cover;
  padding: 40px 80px;
  positon: relative;
}
/* line 34, ../sass/salesvideos.scss */
.salesvideos-top-cta .logo {
  width: 90px;
  float: left;
  margin: 0px 20px 20px 0;
}
/* line 39, ../sass/salesvideos.scss */
.salesvideos-top-cta h1 {
  font-size: 59px;
  font-size: 53px;
  color: white;
  margin-bottom: 0;
}
/* line 45, ../sass/salesvideos.scss */
.salesvideos-top-cta h3 {
  color: white;
  text-transform: uppercase;
}
/* line 49, ../sass/salesvideos.scss */
.salesvideos-top-cta p {
  color: white;
}
/* line 52, ../sass/salesvideos.scss */
.salesvideos-top-cta .tagline {
  font-weight: 100;
  font-size: 28px;
  font-size: 25px;
  color: white;
}
/* line 59, ../sass/salesvideos.scss */
.salesvideos-top-cta .options {
  height: auto !important;
  text-align: center;
  font-size: 18px;
}
/* line 64, ../sass/salesvideos.scss */
.salesvideos-top-cta .btn-cta {
  width: 100%;
  padding: 20px;
}

/* line 72, ../sass/salesvideos.scss */
.sales-copy article {
  background: white url("/static/salesvideos/logo.png") no-repeat center;
}
/* line 75, ../sass/salesvideos.scss */
.sales-copy h1, .sales-copy h2 {
  text-align: center;
}
/* line 78, ../sass/salesvideos.scss */
.sales-copy article {
  margin: 0;
}
/* line 81, ../sass/salesvideos.scss */
.sales-copy .btn-cta {
  width: 100%;
  padding: 40px;
}
