/* VideoJS */
/* line 2, ../sass/video.scss */
.vjs-big-play-button {
  display: flex;
  top: calc(50% - 22.5px) !important;
  left: calc(50% - 45px) !important;
  border-radius: 0 !important;
  padding: 22px !important;
}

/* line 11, ../sass/video.scss */
.vjs-default-skin .vjs-control-bar {
  display: flex !important;
  height: 42px;
  background-color: #2B333F;
  visibility: visible !important;
  opacity: 1 !important;
}

/* line 19, ../sass/video.scss */
.vjs-button > .vjs-icon-placeholder:before {
  line-height: 42px;
}

/* line 24, ../sass/video.scss */
.vjs-remaining-time-display {
  line-height: 42px;
}

/* line 27, ../sass/video.scss */
.vjs-volume-control, .vjs-playback-rate {
  /* margin-top: 6px!important; */
  /* Don't hide on mobile */
  /* display: flex!important; */
}

/* line 32, ../sass/video.scss */
.vjs-volume-bar.vjs-slider-horizontal {
  margin: 18px;
}

/* Playback speed menu */
/* line 36, ../sass/video.scss */
.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
  background-color: #2b333f;
  background-color: rgba(115, 133, 159, 0.5);
}

/* line 42, ../sass/video.scss */
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: #2B333F;
  /* background-color: rgba(43,51,63,0.7); */
}

/* line 47, ../sass/video.scss */
.vjs-menu-item {
  padding: 5px 0;
}

/* line 50, ../sass/video.scss */
.vjs-menu {
  z-index: 100;
}

/* line 54, ../sass/video.scss */
#vjs-image-overlay-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 42px) !important;
}

/* line 60, ../sass/video.scss */
#vjs-image-overlay-holder img {
  height: 100%;
  width: 100%;
}
