@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

article h1, .disclaimer, .btn-cta-large {
    font-family: 'Lato', sans-serif;
    font-weight: 400;    
}
header, footer {
    display:none;
}
.logo {
    width: 100px;
    margin-bottom: 20px;
}
article {
    text-align: center;
    margin:0;
    min-height: 100vh;
    h1 {
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 0.5em;
	@media  (max-width: 960px) {
	    line-height: 1em;
	}	

	margin: 20px;
    }
    h2 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 10px;	
    }
}

.disclaimers {
    margin: 20px;
    .disclaimer {
	width: 33.33%;
	float:left;
	padding: 40px 0;
	border-left: 1px solid rgba(0,0,0,0.1);
	font-size: 22px;
	line-height: 0.5em;
	@media  (max-width: 960px) {
	    line-height: 1em;
	    br {
		display:none;
	    }
	    line-height: 1em;
	    width: 100%;
	    padding: 10px 0;
	    border: none;
	}	
	
	font-family: "Open Sans", sans-serif;
	color: #acacac;
	text-align: center;
	text-transform: uppercase;
    }
}
#leftmost {
    border:none;
}
.btn-cta-large {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 40px;
    margin: 20px;
    background: #eb5d00;
    color: #fff;
    /* font-family: "brandon_grotesquebold"; */
    font-weight: 300;
    background: linear-gradient(to bottom, #ff6500, #f84200);    
    box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
    &:hover, &:active, &:focus, &:visited {
    background: linear-gradient(to bottom, #ff6500, #f84200);    
    box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
    }
    @media  (max-width: 960px) {
	white-space: normal;
	margin: 20px -20px;
    }
    .download-icon {
	margin: -20px -40px -20px 10px;
	padding: 20px;
	float:right;
	display:inline;
	@media  (max-width: 960px) {
	    display: none;
	}
	/* background: #ff7a24; */
	i {
	    font-size: 32px;
	    width: 32px;
	    margin:0;
	}
    }
}