$background: #f6f3ea;
$orange: #f66303;
$blue:#008cba;
$black: rgba(0, 0, 0, 0.8);
$gray: #999;
$dark: rgba(0,0,0,.6);
$heading:  #3d454b;

@import "./general";
@import "./services";
@import "./posts";

/* Header */
header {
    background: #fff;
    padding: 20px;
    border-top: 3px solid $orange;

    .logo {
	font-size: 32px;
	font-weight: 100;
	@media  (max-width: 576px) {
	    float:none;
	    margin: auto;
	    width: fit-content;
	    padding-right: 15px;
	    margin-bottom: 15px;
	}	

	b {
	    font-weight: 400;	    
	}
	color: $black;
	img {
	    width: 50px;
	    float: left;
	    margin-right: 10px;
	}
    }
    .main-menu {
	padding-top: 5.5px;
	float: right;
	@media  (max-width: 576px) {
	    float:none;
	    margin: auto;
	    width: fit-content;
	}	
	.btn {
	    background: none;
	    color: $black;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border: 1px solid rgba(0,0,0,0.1);
	    margin-right:5px;
	    border-radius: 0;
	    @media  (max-width: 720px) {
		padding: 10px;
		margin-right:2px;		
	    }	
	    
	    &:hover {
		background-color: #eeeeee;
	    }
	}
    }    
}


.dropdown {
    float: left;
    margin-right: 5px;
    li {
	border-bottom: 1px solid rgba(0,0,0,.15);
    }
}


.dropdown:hover .dropdown-menu {
    display: block;
    min-width: 100%;
    li a {
	text-transform: capitalize;
    }
}


.subscription-form {
    @media  (max-width: 500px) {
	margin-right:0px;
    }
    
    /* Email input */
    input {
	height: 40px;
	float:left;
	width: calc(100% - 120px - 50px);
	@media  (max-width: 500px) {
	    width: 100%;
	}
    }

    /* Subscribe button */
    .btn-default {
	background: $orange;
	color: white;
	height: 40px;
	border: none;
	border-radius:0;
	float:left;
	width: 120px;	    
	@media  (max-width: 500px) {
	    width: calc(100% - 50px);
	}
    }
}

.subscription-box {
    margin-top: 20px;
    .cta-description {
	padding: 0 5px;
    }
    .panel {
	margin-bottom: 0;
    }
    .panel-body {
	padding: 15px 25px;
    }
    .cta-text {
	padding:10px;
	float:left;
	margin-right:20px;
	font-weight: bold;	
    }
    .subscription-form {
	float:right;
    }

}

.modal-dialog {
    margin-top: 90px!important;
}
/* Rss button */
.btn-rss {
    background: $orange;
    height: 40px;
    color: white;
    border: none;
    border-radius:0;
    
    width: 40px;
    float: right;
    margin-left: 4px;
    padding: 7px;
    i {
	color:white;
	font-size: 28px;
    }
}

.post-suggestions {
    .post-box {
	padding: 10px;
	.thumbnail {
	    height: 120px;
	    background-position: 50% 50%;
	    background-size: cover;
	    width: 100%;
	    margin: -10px;
	    width: calc(100% + 20px);
	    max-width: calc(100% + 20px);
	    border: none;
	}
	.description {
	    height: 140px;
	}
	h1 {
	    font-size: 22px;
	    border: none;
	    margin-top: 10px;
	    margin-bottom:0;
	    line-height: 32px;
	}
	p {
	    font-size: 18px;		
	}
    }
}


.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 22px;
    text-align: center;
    font-size: 18px;    
}
/* Pagination */
.pagination {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    text-align: center;

    .fa {
	margin-top: 6px;
	color: $gray;
    }
}

/* Footer */
footer {
    height: 40px;
    padding: 0 10px;
    background-color: #333a42;
    color: #babfc2;    
    a {
	color: $gray;
	font-weight: bold;
    }
}
