/* CTA */
.cta {
    text-align: center;
    /* background: white url("/static/img/code-lines.png") no-repeat center; */
    /* background: #29bbce linear-gradient(#29bbce, #1894bb);  */
    /* background: white url("/static/img/blue-gradient-min.jpg") no-repeat center; */
    background: #355e96 url("/static/img/blue-pattern-background-1920-min.png") no-repeat center;
    
    background-size: cover;

    padding: 80px;
    @media(max-width: 960px) {
	padding: 40px 0;
	padding-top: 80px;
    }
    /* padding-top: 120px; */
    .logo {
	width: 180px;
    }
    
    h1 {
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	font-weight: bold;
	font-size: 29px;	
	.second-line {
	    font-size: 30px;
	    color: white;
	}
    }
    
    h1, p {
	color: white;
    }
    .tagline {
	color: $orange;
	color: white;
    }

    .small {
	font-size: 10px;
	color: white;
    }
    .btn {
	background: linear-gradient(to bottom, #ff6500, #f84200);
    }
}

.services {
    background-color: #282f30;		/* dark */
    background-color: rgb(233, 95, 15); /* orange */
    background-color: #1e2329;		/* dark form color */
    padding: 40px;
    @media(max-width: 960px) {
	padding: 20px 0;
    }


    .icon {
	text-align:center;
	padding: 20px;
	i {
	    font-size: 80px;
	    color: #ffffff;
	    border-radius: 80px;
	    background: #21769c;
	    background: #f94600;
	    padding: 2px;
	}
    }
    h2 {
	color: $orange;
	font-size: 18px;
	text-align: center;
    }
    table {
	font-size: 1em;
	margin:auto;
	td {
	    color: $orange;
	    padding-left: 20px;
	}
    }
    .service {
	float:left;
	width: 25%;
	@media(max-width: 960px) {
	    width: 50%;
	}
	padding:10px;
	h2 {
	    font-size: 18px;
	}
	h2, p {
	    color: $orange;
	    /* color: white; */
	    text-align: center;
	    
	}
    }
}

.projects {
    padding: 40px;
    @media(max-width: 960px) {
	padding: 20px 0;
    }
    /* background: rgb(239, 215, 191); /\* peach *\/ */    

    h2 {
	color: $orange;
	/* color: $black;	 */
	text-align: center;
    }

    /* Carousel */
    .carousel-control-prev-icon {
	background-image: url("/static/img/arrow-left-min.png");
	@media(max-width: 960px) {
	    display:none;
	}	
    }
    .carousel-control-next-icon {
	background-image: url("/static/img/arrow-right-min.png");
	@media(max-width: 960px) {
	    display:none;
	}		
    }    
    .carousel-caption {
	background: $orange;
	position: relative;
	left: auto;
	right: auto;

	padding:10px;
	color: $black;
	p {
	    color: white;
	    margin:auto;
	    text-shadow: none;
	    @media(max-width: 960px) {
		font-size: 12px;
	    }
	}
	h3 {
	    color: $black;
	    color: white;
	    text-shadow: none;
	    @media(max-width: 960px) {
		font-size: 18px;
	    }

	}
    }
    /* Arrow */
    .carousel-caption::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background: $orange;
	top: 4px;
	right: calc(50% - 12px);
	transform: translate(0, -50%) rotate(45deg);
	z-index: -10;
    }    
    .carousel-control-next, .carousel-control-prev  {
	opacity:1!important;
    }
    .carousel-control-next {
	right: -80px;
	@media(max-width: 960px) {
	    right: 0;
	}
    }
    .carousel-control-prev  {
	left: -80px;
	@media(max-width: 960px) {
	    left: 0;
	}
    }


    article {
	float:left;
	width: calc(50% - 40px);
	margin: 20px;
	display:none!important;

	@media(max-width: 960px) {
	    width: 100%;
	    margin: 0px;
	    margin-bottom: 40px;
	}

	background: white;

	.screenshot {
	    overflow:hidden;
	    height: 140px;
	    img {
		width: 100%;
	    }
	}
	.description {
	    h3 {
		color: $black;		
	    }
	    padding: 10px 20px;
	    height: 140px;
	}
    }
}


.portfolio {
    padding: 40px;
    h2 {
	color: $orange;
	text-align: center;
    }
    
    .project {
	/* In _general.scss there's an image wrapper making it square */
	float: left;
	width: calc(33.33% - 20px);
	@media(max-width: 960px) {
	    width: 100%;
	    margin: 20px 0;
	}
	position: relative;
	margin: 10px;

	
	.overlay {
	    /* display:none; */
	    /* Using opacity/visibility instead of display */
	    /* because you can animate those */
	    opacity: 0;
	    visibility: hidden;	    
	    transition: opacity 200ms, visibility 200ms;
	    cursor: default;

	    background: rgba(0,0,0,0.8);
	    top:0;
	    bottom:0;
	    width: 100%;		
	    position: absolute;
	    text-align:center;
	    padding: 20px;
	    h2, p, a {
		color: white;
	    }
	    .btn-outline {
		position: absolute;
		bottom: 20px;
		left: calc(50% - 90px);
		width: 180px;		
	    }
	}
	/* Display overlay on hover */
	&:hover .overlay {
	    /* display:block; */
	    visibility: visible;
	    opacity: 1;	    
	}
	/* Scale up on hover */
	&:hover {
	    transform: scale(1.05);
	    transition: all 200ms;
	}

	
    }
}

/* Social proof */
.social-proof {
    background-color: #1e2329;
    background-color: #1c2027;    
    
    img {
	width: calc(100% - 80px);
	opacity: 0.2;
	margin: 0 40px;
    }
}


.macbook-bg {
    background: white url("/static/img/macbook.png") no-repeat center;
    /* background: white url("/static/img/dots-bg-min.jpg") no-repeat center;     */
    background-size: cover;

}
/* Testimonials */
.testimonials {    
    text-align: center;
    padding: 40px;
    background: rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.8);
    h2 {
	color: white;
    }
    img {
	margin-bottom: 20px;
    }
    hr {
	width: 40px;
	margin: 10px auto;
	border-bottom: 1px solid rgba(255,255,255,0.8);
    }
    p {
	color:white;
    }
}

.contact {
    padding: 20px;
    padding-bottom: 0px;    
    background: rgba(0,0,0,0.8);
    background: rgb(39, 46, 51);

    h2, p {
	color:white;
	text-align:center;

    }
    textarea {
	min-height: 120px;
	height: 120px;	
    }
    .form-control {
	border: none;
	background: rgb(30, 35, 41);
	color: white;
	border-bottom: 1px solid #272e33;
    }
}


/* Footer */
footer {
    background-color: #333a42;
    background-color: #1e2329;	/* darker form */
    background-color: #1c2027!important;    
    color: #babfc2;
    min-height:20px;    
}

/* Ray Alez Portfolio */
.rayalez {
    .cta {
	background: #355e96 url("/static/img/ubuntu-orange.jpg") no-repeat center;
	text-align: left;
	padding: 40px 0;
	.title {
	    margin: auto;
	    margin: auto;
	    max-width: 390px;	    
	}
	.logo {
	    border-radius: 4px;
	    float: left;
	    width: 80px;
	    margin-right: 20px;
	}
	h1 {
	    text-transform:none;
	    color: white;
	    margin: 4px 0 0 0px;
	    font-size: 32px;
	    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	.tagline {
	    margin-top: 20px;
	    margin-top: 10px;
	    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);	    
	    /* 
	    width: 100%;
	    padding: 20px;
	    color: #fefefe;
	    background-color: rgba(10, 10, 10, 0.5);
	   */
	}	
    }

    .testimonials {
	font-size: 18px;
	b {
	    color:white;
	}
	.social-media-icon {
	    width: 40px;
	}
	i {
	    font-size: 40px;
	    color: white;
	    line-height: 40px;
	}
	.fa-twitter {
	    color: #55acee;
	}
	.fa-reddit {
	    color: #ff4500;
	    background: white;
	    border-radius: 40px;
	    border: 2px solid #ff4500;
	}
    }
    
}


.portfolio-page {
    .cta {
	background: #355e96 url("/static/img/code-lines.png") no-repeat center;
	background-size: cover;
	
	text-align: left;
	padding: 40px 0;
	.logo {
	    border-radius: 4px;
	    float: left;
	    width: 120px;
	    margin-right: 20px;
	}
	h1 {
	    text-transform:none;
	    color: white;
	    margin: 4px 0 0 0px;
	    font-size: 32px;
	    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	    margin-top: 20px;	    
	}
	.tagline {
	    font-size: 26px;
	    margin-top: 20px;
	}
    }
    .testimonials {
	text-align:left;
	font-size: 18px;
	b {
	    color:white;
	}
    }
}
