<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles/css/vendor.css">    
    <link rel="stylesheet" href="/static/styles/css/style.css">

    <!-- Meta -->
    <meta name="author" content="Ray Alez">  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="https://startuplab.io/static/img/favicon.png"/>	
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@raymestalez" />
    <meta property="twitter:site" content="@StartupLabIO" />  
    <!-- <meta property="og:url" content="https://startuplab.io"> -->
    {% block meta %}
    <title>Startup Lab</title>
    <meta name="description" content="Web Development and Consulting. We help founders to create, launch, and grow their online projects.">
    <meta name="keywords" content="Web, Development, Consulting, Programming, Marketing, Startup, React, Redux, Django, Portfolio.">
    <!-- Facebook -->
    <meta property="og:description" content="Web Development and Consulting. We help founders to create, launch, and grow their online projects.">
    <meta property="og:image" content="https://startuplab.io/static/img/social.png">
    <!-- Twitter -->
    <meta property="twitter:url" content="https://startuplab.io" />
    <meta property="twitter:title" content="Startup Lab" />
    <meta property="twitter:description" content="Web Development and Consulting. We help founders to create, launch, and grow their online projects." />
    <meta property="twitter:image" content="https://startuplab.io/static/img/social.png" />
    {% endblock meta %}

    <!-- Feeds -->
    {% if category %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_CATEGORY_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category|capitalize }} Atom Feed" />
    {% else %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
 
</head>

<body>
  <header>
    <div class="container">
      <div class="row">      
	<div class="col-xs-12 col-sm-6">
	  <!-- Logo -->
	  <div class="logo">
	    <a href="https://startuplab.io">
	      <img src="/static/img/logo.png"/>
	      <span class="title">startup<b>lab</b></span>
	    </a>
	  </div> <!-- End .logo -->
	</div>
	<!-- Menu -->
	<div class="col-xs-12 col-sm-6">
	  <div class="main-menu">

	    <a data-toggle="modal" data-target="#subscribe"
	       class="btn btn-default" id="subscribe-link">
	      Subscribe
	    </a>
	    <!-- Blog menu with categories dropdown -->
	    <div class="dropdown">
	      <a class="btn btn-default" href="/blog" id="blog-link">
		Blog
	      </a>
	      <ul class="dropdown-menu" role="menu">
		{% for cat, null in categories %}
		<li{% if cat == category %} class="active"{% endif %}>
		  <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
		</li>
		{% endfor %}
	      </ul>
	    </div> <!-- End .dropdown -->
	    <!-- 
	    <a class="btn btn-default"  href="">
	      <i class="fa fa-reddit-square"></i>
	    </a>
	    <a class="btn btn-default" href="">
	      <i class="fa fa-youtube-square"></i>
	    </a>
	     -->
	    
	    <!-- Other menus from pelicanconf -->
	    {% for title, link in MENUITEMS %}
	    <a class="btn btn-default" href="{{link}}" id="{{title|lower}}-link">
	      {{title}}
	    </a>
            {% endfor %}


	  </div>
	</div><!-- End .col-xs-12 -->
      </div>   <!-- End .row .cta -->
    </div>   <!-- End .container -->
</div>   <!-- End .main-menu -->
</header>

<div class="page">
{% block content %}
{% endblock %}
</div>

<footer>
</footer>

{% include "subscription-modal.html" %}
<script src="/static/js/startuplab.min.js" async></script>

</body>
</html>

