<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content  contact">

      <div class="modal-body">
	  <h2 id="contact"> Contact </h2>	
	  <p>Send us a message, and get a free consultation.</p>

	  <!-- Contact form -->
	  <form class="form-horizontal"
		action="https://formspree.io/ray@startuplab.io"
		method="POST">
            <div class="form-group">
              <input type="email"
		     class="form-control"
		     name="email"
		     placeholder="Your Email">
              <input type="text"
		     class="form-control"
		     name="_subject"
		     placeholder="Subject">
	      <input type="hidden" name="_next" value="https://startuplab.io"/>	      
              <textarea class="form-control"
			name="message" 
			placeholder="A couple of words about your project..."></textarea>
	  <p>Special offer for our readers: use the word "bananas" anywhere in your message, and we will design your first page for only $15.</p>
	      
              <button type="submit" class="btn btn-cta btn-large right">
		Send
	      </button>
          </form>
	  
      </div>
    </div>
  </div>
</div>	 <!-- End .modal -->





