{% extends "base.html" %}
{% block content %}

  <!-- CTA -->
  <div class="cta">
    <div class="container">
      <!-- CTA -->
      <div class="row">      
	<div class="col-xs-12">
	  <img src="/static/img/logo-transparent.png" class="logo" />
	  <!-- Digital Product -->
	  <!-- <h1>Online Business Academy</h1> -->
	  <h1>
	    Generate profitable ideas <br/>
	    for your first Online Business
	  </h1>

	  <br/>

	<!-- Subscription form -->
	<!-- Aweber -->
	  <form class="subscription-form"
		action="https://onlinebusinessacademy.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=46eb427f2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscription-form" target="_blank" novalidate>
	    
	    <input type="email" name="EMAIL"
		   class="form-control" placeholder="Enter your email..." />

	    <!-- Tracking -->
            <input name="SRC" type="hidden" id="email-src-disable-js" value="youtube" />
            <input name="OPTINLOC" type="hidden" value="free-guide" />

	    <!-- Hidden -->
	    <input type="hidden"
		   name="b_0f23c7984541d915d1108a16e_46eb427f2a"
		   tabindex="-1" value="">	    
	    <button class="btn btn-cta btn-large" href="#contact" type="submit">
	      <div>
		Get your free online business<br/>
		<span class="bolder">quick start guide</span>
	      </div>
	    </button>
	  </form>
	  

    </div>
</form>
</div>
	  

	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row .cta -->
    </div>   <!-- End .container -->
  </div>   <!-- End .cta -->


  <!-- Services -->
  <div class="disclaimers">
    <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<h1> Build your first profitable Online Business </h1>
	<br/>
	<div class="service" id="leftmost">
	  <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
	  <img src="/static/img/experts-decolor.png" />
	  <!-- <h2>Learn from <br/> -->
	  <!--   leading Experts</h2> -->
	  <h2>Kick-start <br/>
	     your business</h2>
	</div>

	<div class="service">
	  <img src="/static/img/no-investment-decolor.png" />	  
	  <h2>Get Started with <br/>
	    Zero Investment</h2>
	</div>

	<div class="clearfix visible-xs"></div> <!-- clearfix only on mobile -->
	<div class="service">
	  <img src="/static/img/no-experience-decolor.png" />	  	  
	  <h2>No experience <br/>
	    needed</h2>
	</div>

	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->

    </div>   <!-- End .container -->
    
</div>	     <!-- End .services -->
  

  <!-- Social Proof -->
  <div  class="social-proof">
    <div class="container">
      <div class="row">
	<div class="col-xs-12">
	  
	  <img src="/static/img/social-proof.png"/>

	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->
    </div>   <!-- End .container -->
  </div> <!-- End .services -->
  

{% endblock content %}

{% block meta %}
  <link rel="stylesheet" href="/static/styles/css/optin.css">
  <style>
    .cta .btn {
    background: linear-gradient(to bottom, #f12032 0%, #b02a66 100%);
    }    
  </style>
{% endblock meta %}
  
