<!DOCTYPE html>
<html lang="en-US">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Startup Lab Newsletter</title>
  <!-- Meta -->
  <meta name="description"
	content="Newsletter of awesome advice and learning resources for aspiring fiction writers.">
  <meta name="keywords" content="Webdev, Fiction">
  <meta name="author" content="Logan Dice">  
  <link rel="shortcut icon" href="https://startuplab.io/static/img/favicon.png"/>
  <!-- Facebook -->
  <meta property="og:description" content="Newsletter of awesome advice and learning resources for aspiring fiction writers.">
  <meta property="og:image" content="https://startuplab.io/static/img/social.jpg">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="Webdev World" />
  <meta property="twitter:description" content="Newsletter of awesome advice and learning resources for aspiring fiction writers." />
  <meta property="twitter:creator" content="@WebdevWorld" />
  <meta property="twitter:image"
	content="https://startuplab.io/static/img/social.jpg" />  
  <!-- Styles -->
  <link rel="stylesheet" href="/static/styles/css/newsletter-base.css">
   <link rel="stylesheet" href="/static/styles/css/newsletter-bright.css">  
  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44003603-23', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>


  <!-- Opt In -->
  <div class="container">
    <div class="row row-centered edit">
      <div class="col-xs-6 col-centered">
	<article>
	  <img src="/static/img/web_development_top_960.jpg" class="top-image"/>
	  <h3 class="center-text"> Startup Lab Weekly Newsletter </h3>
	  <!-- <p>Insightful Ideas and Actionable Advice for Aspiring Founders </p> -->
	  <p>Receive must-read news, resources, and tips that will help you to build and grow your online business.</p>	  

	  <!-- Mailchimp -->
	  <form class="subscription-form"
		action="//digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=4d8030b35b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscription-form" target="_blank" novalidate>
	    
	    <input type="email" name="EMAIL"
		   class="form-control-cta" placeholder="Enter your email..." />
            <input name="src" type="hidden" id="email-src" />
	    <input type="hidden"
		   name="b_0f23c7984541d915d1108a16e_4d8030b35b"
		   tabindex="-1" value="">	    
	    <button class="btn btn-cta-large full-width"  type="submit">
	      Subscribe
	    </button>
	  </form>
	</article>
	<footer>
	</footer>
      </div>   <!-- End .col-xs-12 -->
    </div> <!-- End .row .edit -->
  </div> <!-- End .container -->
  
  <!-- Footer -->
  <footer class="hidden">
    <hr/>
    <div class="right">
    </div>
  </footer>
</body>
</html>




