<!-- Footer -->
<div class="post-footer">
  <div class="tags">
    {% if article.category %}
    <span class="label label-default">
      <a href="/{{article.category}}">{{article.category}}</a>
    </span>
    {% endif %}	      
    {% for tag in article.tags %}
    <span class="label label-default">
      <a href="/tag/{{tag}}">{{tag}}</a>
    </span>
    {% endfor %}
  </div> <!-- tags -->

  <div class="right">
    <a href="/rayalez"><b>@rayalez</b></a>
  </div>
  <!-- Actions -->
    <div class="actions">
      <!-- Comments -->
      {% if article.redditlink %}
      <a class="btn btn-default"
	 href="{{article.reddit}}"
	 data-toggle="tooltip" data-placement="top"
	 title="Discuss on Reddit">      
	<i class="fa fa-reddit-square"></i>
	Discuss
      </a>
      {% endif %}	            
      {% if article.hnlink %}
      <a class="btn btn-default"
	 href="{{article.hnlink}}"
	 data-toggle="tooltip" data-placement="top"
	 title="Discuss on HN">      
	<i class="fa fa-hacker-news"></i>
	Discuss
      </a>
      {% endif %}	      
    </div> <!-- End .actions -->
  <div class="clearfix"></div>
</div>
