<div class="post-suggestions">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a href="/post/what-should-i-learn-as-a-founder">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/images/laptop-spaceship.jpg');"
	       >
	  </div>
	  <div class="description">
	    <h1>Founder Skills</h1>
	    <p>What should I learn as an aspiring founder?</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->

    <div class="col-xs-12 col-sm-4">
      <a href="/post/find-freelance-clients">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/images/startup-advice.png');"
	       >
	  </div>
	  <div class="description">
	    <h1>Freelance Clients</h1>
	    <p>How can I find my first freelance clients?</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->	  

    <div class="col-xs-12 col-sm-4">
      <a href="/services">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/images/services-banner1.png');"
	       >
	  </div>
	  <div class="description">
	    <h1>Our Services</h1>
	    <p>We help non-technical founders to create, launch, and grow their websites and applications.</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->

  </div> <!-- End .row .edit -->
</div> <!-- End .story-suggestions -->
