<div class="post-suggestions">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <a href="/free-guide">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/static/img/free-guide.png');"
	       >
	  </div>
	  <div class="description">
	    <h1>Free Guide</h1>
	    <p>Download our free guide and learn how to come up with a profitable idea
	    for your first online business.</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->
    <!-- 
    <div class="col-xs-12 col-sm-4">
      <a href="/post/what-should-i-learn-as-a-founder">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/images/laptop-spaceship.jpg');"
	       >
	  </div>
	  <div class="description">
	    <h1>Founder Skills</h1>
	    <p>What should I learn as an aspiring founder?</p>
	  </div>
	</article>
      </a>
    </div> -->   <!-- End .col-xs-12 col-sm-4 -->



    <div class="col-xs-12 col-sm-4">
      <a href="/services">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/images/services-banner1.png');"
	       >
	  </div>
	  <div class="description">
	    <h1>Our Services</h1>
	    <p>We help non-technical founders to create, launch, and grow their websites and applications.</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->
    

    <div class="col-xs-12 col-sm-4">
      <a href="https://www.reddit.com/r/IndieFounders">
	<article class="post-box">
	  <div class="thumbnail"
	       style="background-image:
		      url('/static/img/reddit-alien-blue.jpg');"
	       >
	  </div>
	  <div class="description">
	    <h1>Indie Founders</h1>
	    <p>Join our community, ask questions, exchange advice and feedback.</p>
	  </div>
	</article>
      </a>
    </div>   <!-- End .col-xs-12 col-sm-4 -->	  

  </div> <!-- End .row .edit -->
</div> <!-- End .story-suggestions -->
