{% extends "base.html" %}
{% block content %}
<div class="rayalez">
  <!-- CTA -->
  <div class="cta">
    <div class="container">
      <!-- CTA -->
      <div class="row">      
	<div class="col-xs-12">
	  <div class="title">
	    <img src="/static/img/signature.png" class="logo" />	  
	    <h1>Ray Alez</h1>
	  </div> <!-- End .title -->
	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->
    </div>   <!-- End .container -->

    <div class="tagline-wrapper">
      <div class="container">      
	<div class="row">      
	  <div class="col-xs-12 tagline">
	    Startup Founder, Web Developer, Writer.

	    <div class="social-media-icons right">
	      <a href="https://www.artstation.com/artist/rayalez">
		<img src="/static/img/social-icons/artstation-logo.png"
		     class="social-media-icon"/>
	      </a>
	      <a href="https://github.com/raymestalez">
		<i class="fa fa-github"></i>
		<!-- 
		<img src="/static/img/social-icons/github-logo.png"
		     class="social-media-icon"/> -->
	      </a>
	      <a href="https://www.youtube.com/user/raymestalez">
		<img src="/static/img/social-icons/youtube.png"
		     class="social-media-icon"/>
	      </a>				
	      <a href="https://medium.com/@rayalez/">
		<img src="/static/img/social-icons/medium-logo.png"
		     class="social-media-icon"/>
	      </a>
	      <a href="https://news.ycombinator.com/threads?id=rayalez">
		<img src="/static/img/social-icons/hn-logo.png"
		     class="social-media-icon"/>
	      </a>
	      <a href="https://www.reddit.com/u/raymestalez/?sort=top">
		<i class="fa fa-reddit"></i>
	      </a>	    
	      <a href="https://twitter.com/StartupLabIO">
		<i class="fa fa-twitter"></i>
	      </a>
	    </div> <!-- End .social-media-icons -->

	  </div> <!-- End .col-xs-12 -->
	</div>   <!-- End .row -->
      </div>   <!-- End .container -->      
    </div>     <!-- End .tagline -->
    
  </div>   <!-- End .cta -->

<div class="portfolio">
  <div class="container">    
    <div class="row">
      <div class="col-xs-12">
	<h2> My Projects </h2>
	<!-- Nulis -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/nulis.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Nulis</h2>
	    <p>Tree Editor for writers, makes the process of outlining your stories and articles easy, fun, and convenient.</p>

	    <a href="https://nulis.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->

	<!-- Helix -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/helix.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Helix</h2>
	    <p>Habit tracking app that will help you develop a superior daily routine.</p>
	    <a href="https://helix.startuplab.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->
	
	<!-- Fictionhub -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/fictionhub.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Fiction Hub</h2>
	  <p>The platform for reading, publishing, and selling awesome online fiction.</p>
	    <a href="https://fictionhub.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->
		
	<!-- Lumiverse -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/lumiverse.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Lumiverse</h2>
	    <p>The best place to publish, discover, and discuss great educational videos.</p>
	    <a href="http://lumiverse.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->

	<!-- Screenplays -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/screenplays.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Screenplays</h2>
	    <p>Online collection of my favorite screenplays.</p>
	    <a href="https://screenplays.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->

	<!-- Webacademy -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/webacademy.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Webacademy</h2>
	    <p>Discover the best tutorials and courses submitted by the programming community.</p>
	    <a href="https://webacademy.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->
	
	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->
    </div>   <!-- End .container -->
</div>	     <!-- End .portfolio -->


<!-- Testimonials -->
<div class="macbook-bg">
  <div class="testimonials">
    <h2> Contact </h2>    
    <p>
      Feel free to shoot me an email: <br/>
      <b>ray@startuplab.io</b>
    </p>
    <!-- 
    <hr/>
    <p>
      Find me elsewhere:
    </p>
    -->

  </div> <!-- End .testimonials -->
</div>	 <!-- End .macbook-bg -->

<style>
#subscribe-link, #services-link, .dropdown-menu {
  display:none!important;
}
</style>
{% endblock content %}
