<div id="salesvideos-contact" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content  contact">

      <div class="modal-body">
	  <h2 id="contact"> Order </h2>	
	  <p>Fill out the form below and we'll send you more information, usually in just a few hours. There's no obligation - if you like what you hear we can discuss working together.</p>
	  <!-- Contact form -->
	  <form class="form-horizontal"
		action="https://formspree.io/contact@salesvideoninja.com"
		method="POST">
            <div class="form-group">
              <input type="email"
		     class="form-control"
		     name="email"
		     placeholder="Your Email">
              <input type="text"
		     class="form-control"
		     name="_subject"
		     placeholder="Subject">
	      <input type="hidden" name="_next" value="https://salesvideoninja.com"/>	      
              <textarea class="form-control"
			name="message" 
			placeholder="Tell us about your product and the type of video you're looking for..."></textarea>
	      <br/>
              <button type="submit" class="btn btn-cta btn-large right">
		Yes! Send me a quote!
	      </button>
          </form>
	  
      </div>
    </div>
  </div>
</div>	 <!-- End .modal -->





