{% extends "base.html" %}
{% block content %}
<div class="services-page">
  <!-- CTA -->
  <div class="cta">
    <div class="container">
      <!-- CTA -->
      <div class="row">      
	<div class="col-xs-12">
	  <!-- Digital Product -->
	  <img src="/static/img/logo-transparent.png" class="logo" />	  
	  <h1>Create the perfect Website<br/>
	    <span class="second-line">For your Online Business</span></h1>
	  <p class="tagline">
	    We combine stunning design and advanced technology to help you achieve online success.
	  </p>
	  <br/>
	  <a class="btn btn-cta btn-large" href="#contact"
	     data-toggle="modal" data-target="#contact">
	    Request a free consultation!
	    <i class="fa fa-arrow-right right"></i>
	  </a>
	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row .cta -->
    </div>   <!-- End .container -->
  </div>   <!-- End .cta -->
  <!-- Services -->
  <div class="services">
    <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <h2>Full range of premium web services for Small Businesses and Web Entrepreneurs</h2>
	
	<div class="service">
	  <div class="icon">
	    <i class="fa  fa-paint-brush"></i>
	  </div>
	  <h2>[Design]</h2>
	  <p>
	    Create a beautiful design that will delight your customers
	  </p>
	</div>

	<div class="service">
	  <div class="icon">
	    <i class="fa fa-laptop"></i>
	  </div>	  
	  <h2>[Development]</h2>
	  <p>
	    Build a fast and powerful website using the latest technology
	  </p>
	</div>

	
	<div class="clearfix visible-xs"></div> <!-- clearfix only on mobile -->
	<div class="service">
	  <div class="icon">
	    <i class="fa fa-users"></i>
	  </div>	  
	  <h2>[Consulting]</h2>
	  <p>
	      Solve any technical problems with your existing project
	  </p>
	</div>

	<div class="service">
	  <div class="icon">
	    <i class="fa fa-paper-plane"></i>
	  </div>	  
	  <h2>[Marketing]</h2>
	  <p>
	      Find users, gain traction, grow your project, and sell your products
	  </p>
	</div>
	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->
    </div>   <!-- End .container -->
</div>	     <!-- End .services -->


<div class="portfolio">
  <div class="container">    
    <div class="row">
      <div class="col-xs-12">
	<h2>10+ years of experience developing awesome projects</h2>
	<!-- Nulis -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/nulis.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Nulis</h2>
	    <p>Tree Editor for writers, makes the process of outlining your stories and articles easy, fun, and convenient.</p>

	    <a href="https://nulis.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->

	<!-- Fictionhub -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/fictionhub.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Fiction Hub</h2>
	  <p>The platform for reading, publishing, and selling awesome online fiction.</p>
	    <a href="https://fictionhub.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->

	<!-- Lumiverse -->
	<div class="project image-wrapper-square">
	  <div class="thumbnail"
	       style="background-image: url('/static/img/projects/lumiverse.png');">
	  </div> <!-- End thumbnail -->
	  <div class="overlay">
	    <h2>Lumiverse</h2>
	    <p>The best place to publish, discover, and discuss great educational videos.</p>
	    <a href="http://lumiverse.io" class="btn-outline" target="_blank">
	      Visit Website
	    </a>
	  </div> <!-- End overlay -->
	</div>	 <!-- End project end image-wrapper-square -->
	
	</div> <!-- End .col-xs-12 -->
      </div>   <!-- End .row -->
    </div>   <!-- End .container -->
</div>	     <!-- End .portfolio -->


<!-- Testimonials -->
<div class="macbook-bg">
  <div class="testimonials">
    <h2> More than 300 happy clients </h2><br/>
    <img src="/static/img/quote-icon.png">
    <p>
      I have been working with many web development companies
      from all around the world, <br/>
      and I highly recommend to hire Startup Lab for your next project.
    </p>
    <hr/>
    <p>
      Rommy Arella @Candeed Creatives
    </p>

    <br/><br/>
    <a class="btn btn-cta btn-large" href="#contact"
       data-toggle="modal" data-target="#contact">
      Let's talk about your project!
    </a>
    
  </div> <!-- End .testimonials -->
</div>	 <!-- End .macbook-bg -->

<!-- 2nd CTA -->
<!-- 
<div class="cta">
  <div class="container">
    <div class="row">      
      <div class="col-xs-12">
	<a class="btn btn-cta btn-large" href="#contact">
	  Let's talk about your project!
	</a>
      </div>
    </div>
  </div>
</div>  
 -->

<!-- Social Proof -->
<div  class="social-proof">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	
	<img src="/static/img/social-proof.png"/>

      </div> <!-- End .col-xs-12 -->
    </div>   <!-- End .row -->
  </div>   <!-- End .container -->
</div> <!-- End .services -->

{% include "contact-modal.html" %}  

<style>
#subscribe-link, #services-link, .dropdown-menu {
  display:none!important;
}
</style>
{% endblock content %}
