<div id="subscribe" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
	  <form class="subscription-form"
		action="//digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=4d8030b35b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscription-form" target="_blank" novalidate>
	    
	    <input type="email" name="EMAIL"
		   class="form-control" placeholder="email" />
            <input name="src" type="hidden" id="email-src" />
	    <input type="hidden"
		   name="b_0f23c7984541d915d1108a16e_4d8030b35b"
		   tabindex="-1" value="">	    
	    <button class="btn btn-default" type="submit">
	      Subscribe
	    </button>
	    <a class="btn btn-rss" href="/feeds/posts.atom.xml">
	      <i class="fa fa-rss"></i>
	    </a>
	  </form>
      </div>
    </div>
  </div>
</div>	 <!-- End .modal -->




