<div class="row subscription-box"  id="subscription-box">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
	<div class="col-xs-12 col-md-6 cta-description">
	  <div class="cta-text">
	    Receive weekly digest of my best posts!
	  </div>
	</div> <!-- End col-xs-12 -->

	<div class="col-xs-12 col-md-6">
	  <form class="subscription-form"
		action="//digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=4d8030b35b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscription-form" target="_blank" novalidate>
	    
	    <input type="email" name="EMAIL"
		   class="form-control" placeholder="email" />
            <input name="SRC" type="hidden" id="email-src" />
            <input name="OPTINLOC" type="hidden" value="subscription-box" />	    
	    <input type="hidden"
		   name="b_0f23c7984541d915d1108a16e_4d8030b35b"
		   tabindex="-1" value="">	    
	    <button class="btn btn-default" type="submit">
	      Subscribe
	    </button>
	    <a class="btn btn-rss" href="/feeds/posts.atom.xml">
	      <i class="fa fa-rss"></i>
	    </a>
	  </form>
	</div> <!-- End .col-xs-12 -->
      </div> <!-- End .col-md-12 col-sm-12 -->
    </div> <!-- End .panel -->
  </div> <!-- End .col-md-12 -->
</div> <!-- End .subscription-box -->


