{% extends "base.html" %}

{% block content %}

<div class="container post-detail">
  <div class="row">
    <div class="col-md-12 col-sm-12 post-detail">
      <article class="post">
	<img src="/static/img/logo.png" class="logo"/>
	<b>Thank you!</b>
	<p>Your guide is in the mail =)</p>
	<div class="clearfix"></div>
      </article>
    </div> <!-- End col-md-12 -->
  </div>   <!-- End .row -->
</div>	   <!-- end .container -->

{% endblock %}

{% block meta %}
<title>Free Course</title>
<link rel="stylesheet" href="/static/styles/css/optin.css">
{% endblock %}
